POSTGRES_DB=chat2
POSTGRES_USER=
POSTGRES_PASSWORD=
ALGORITHM="HS256"
SECRET_KEY=

DATABASE_URL="postgresql+psycopg2://your-username:your-password@postgres_db_2/chat2"
API_PORT=5001
HOST="host.docker.internal"
